<template name="chat_menu">
    <div id="chat-list-container" class="z-depth-4 animated fadeInUp">
        <div id="chat-list-header" class="web-color-2 center-align valign-wrapper">
            <span id="chat-list-title">CHAT</span>
            <i id="chat-list-close-button" class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div id="chat-list-body" class="white">
            <!--Hello!<br/>
            nice to meet you <br/>
            hello <br/>
            hello!!! <br/>
            Hello!!!!!!!!!!! <br/>-->
            {{#each users}}
                {{> chat_menu_user_entry}}
            {{/each}}
        </div>
    </div>
</template>