#chatroom-container{
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    right: 305px;
    width: 400px;
    height: 300px;
    margin-bottom: 46px;
}
@media (max-width: 700px){
    #chatroom-container{
        right: 0px;
        width: 300px;
        bottom: 0px;
    }
}

#chatroom-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.chatroom-header-username{
    flex: 5;
    margin-left: 5px;
    font-weight: 600;
}
#chatroom-body{
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
    background-color: white;
}
#chat-chatroom-close-button{
    margin-left: 5px;
    cursor: pointer;
}

ul.chat{
    width: 100%;
}

i.online{
    color: green;
}
i.offline{
    color: grey;
}