ul.chat li {
    padding: 10px 15px 10px 15px;
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    transition: all 0.18s ease-in;
    position: relative;
}
ul.chat li img {
    height: 42px;
    width: 42px;
    border-radius: 100%;
}
ul.chat li .message {
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-width: 50%;
    position: relative;
    background: white;
    border-radius: 5px;
}
ul.chat li .message::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent white;
    display: block;
    width: 0;
    z-index: 1;
    left: -8px;
    top: 3px;
}
ul.chat li.his {
    flex-direction: row-reverse;
}

ul.chat li.his .message::after {
    right: -8px;
    left: auto;
    border-width: 8px 0 8px 8px;
    border-color: transparent #f5f5f5;
}
