.img-miniature{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-size: cover;
    background-position:center;
    margin: 5px;
    border: 3px solid #263238;
}