.modal-images-edit{
    min-height: 380px;
    height: 600px;
    overflow-y: scroll;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.modal-col-img{
    flex: 3;
    -webkit-flex: 3;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    display: flex;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #e8e8e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}
.row-1{
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin-bottom: auto;
    flex: 5;
}
.row-2{
    display: flex;
    align-self: center;
    -webkit-align-self: center;
    margin-top: auto;
}
.img-container-center{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.modal-col-opt{
    flex: 1;
    -webkit-flex: 1;
}

.img-container-tag{
    flex: 1;
    -webkit-flex: 1;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;

}

.filter-container{
    flex: 1;
    -webkit-flex: 1;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
}

/*
.img-container-center{
    width:100%;
    text-align: center;
}*/