#input-images-modal{
    width: 95% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}
.close-modal-button{
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}
.modal-header{
    height: 40px;
}
.modal-header-title{
    margin: 0 0 0 20px;
}

.modal-body{

}

.modal-no-images{
    text-align: center;
    padding: 300px 0;
}
.images-modal-upload-img-row{
    width: 100px;
    margin: auto;
}
.label-hidden{
    padding: 0 !important;
    cursor: pointer;
    animation-name: img-imput-color-out;
    animation-duration: 0.5s;
    color: #9e9e9e;
}

@keyframes img-imput-color-in {
    from {color: #9e9e9e;}
    to {color: black;}
}

@keyframes img-imput-color-out {
    from {color: black;}
    to {color: #9e9e9e;}
}

.label-hidden:hover{
    animation-name: img-imput-color-in;
    animation-duration: 0.5s;
    color: black;
}
.images-modal-upload-img-button{
    cursor: pointer;
}
.images-modal-upload-img-i{
    font-size: 3rem;
    text-align: center;
}

.images-modal-upload-img-text{
    font-size: 2rem;
}

.modal-images{
    min-height: 380px;
    height: 600px;
    overflow-y: scroll;
    padding: 25px 85px;
}

.img-preview{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-size: cover;
    background-position:center;
    margin: 3px 5px;
}

.modal-img-footer{
    background-color: #263238;
    border-radius: 0 0 2px 2px;
    padding: 4px 6px;
    height: 60px;
    width: 100%;
}

.label-hidden-footer{
    height: 36px !important;
    width: auto !important;
}