<template name="comment">

    <div class="comment-body text-color-3">

        <div class="comment-header">
            <a>
                <img src="example.png" class="circle" height="auto" width="100%" style="max-width: 45px;max-height: 45px; vertical-align: middle">
            </a>
        </div>

        <div class="comment-content">

            <div class="comment-description">
                <a>{{username}}:</a>
                {{description}}
            </div>

            <div class="comment-details text-color-1">
                <div class="text-color-1">
                    <i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i> {{playersLike.length}}
                    <i class="fa fa-thumbs-o-down fa-1" aria-hidden="true"></i> {{playersDislike.length}}
                </div>
                <span data-livestamp="{{createdAt}}"></span>
            </div>
        </div>

    </div>

</template>