<template name="comment">
    <div class="comment-body text-color-3">
        <div class="comment-header">
            <a>
                <img src="/example.png" class="circle" height="auto" width="100%" style="max-width: 45px;max-height: 45px; vertical-align: middle">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-description">
                {{#if isMine}}
                    <div class="edit-comment">
                        <a id="edit-comment" href="#"><i class="fa fa-pencil-square fa-2" aria-hidden="true"></i></a>
                        <a id="remove-comment" href="#"><i class="fa fa-trash fa-2" aria-hidden="true"></i></a>
                    </div>
                    <div id="edit-comment-modal" class="modal">
                        <div class="card web-color-1 edit-comment-modal">
                            <form class="edit-comment">
                                <div class="post-header text-color-1">
                                    <span id="edit-comment-error"></span>
                                    {{_ "timeline.edit-comment"}}
                                </div>
                                <div class="white-text post-content">
                                    <div class="input-field col s12 post-input">
                                        <!--<textarea id="editPublication" class="materialize-textarea" length="5000"></textarea>-->
                                        {{#textareaAutocomplete settings=settingsTextareaEditComment id="editComment" class="materialize-textarea" autofocus="autofocus" length="2000"}}{{/textareaAutocomplete}}
                                        <label id="edit-comment-label" for="editComment" style="text-align: left !important;">{{_ "timeline.comment"}}</label>
                                    </div>
                                </div>
                                <div class="post-action">
                                    <div></div> <!-- TAGS -->
                                    <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.post"}}<i class="material-icons right">mode_edit</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="remove-comment-modal" class="modal">
                        <div class="card web-color-1 edit-comment-modal">
                            <form class="remove-comment">
                                <div class="post-header text-color-1">
                                    {{_ "timeline.remove-comment"}}
                                    <button id="confirm-remove-comment" type="submit" class="waves-effect waves-light btn post" >{{_ "tag.remove"}}<i class="material-icons right">mode_edit</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                {{/if}}
                <a>{{username}}:</a>
                {{description}}
            </div>
            <div class="comment-details text-color-1">
                <div class="text-color-1">
                {{#if currentUser}}
                        {{#if iLike}}
                            <a id="i-like" href="#"><i class="fa fa-thumbs-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                            <a id="dislike" href="#"><i class="fa fa-thumbs-o-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                        {{else}}
                            {{#if iDislike}}
                                <a id="like" href="#"><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                                <a id="i-dislike" href="#"><i class="fa fa-thumbs-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                            {{else}}
                                <a id="like" href="#"><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                                <a id="dislike" href="#"><i class="fa fa-thumbs-o-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                            {{/if}}
                        {{/if}}
                {{/if}}
                </div>
                <span data-livestamp="{{createdAt}}"></span>
            </div>
        </div>
    </div>
</template>