<template name="newComment">
    <form class="confirm-comment">
        <div class="white-text new-comment-content">
            <div class="input-field new-label-transform col s12 post-input">
                <!--<textarea id="newComment" name="newComment" class="materialize-textarea" length="2000"></textarea>-->
                {{#textareaAutocomplete settings=settingsTextareaNewComment id="newComment" class="materialize-textarea" autofocus="autofocus" length="2000"}}{{/textareaAutocomplete}}
                <label id="new-comment-label" style="text-align: left !important;">{{_ "timeline.comment"}}</label>
            </div>
        </div>
        <div class="new-comment-action">
            <span id="commentError" name="commentError"></span>
            <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.comment"}}<i class="material-icons right">mode_edit</i></button>
        </div>
    </form>
</template>