<template name="newComment">
    <form class="confirm-post">
        <div class="white-text new-comment-content">
            <div class="input-field col s12 post-input">
                <textarea id="newPublication" class="materialize-textarea" length="5000"></textarea>
            </div>
        </div>
        <div class="new-comment-action">
            <span id="post-error"></span>
            <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.post"}}<i class="material-icons right">mode_edit</i></button>
        </div>
    </form>
</template>