<template name="newPublication">
    <div id="new-publication-card" class="card web-color-1">
        <form class="confirm-post">
            <div class="post-header text-color-1">
                <span id="post-error"></span>
                {{_ "timeline.new-post"}}
            </div>
            <div class="white-text post-content">
                <div class="input-field col s12 post-input">
                    <!--<textarea id="newPublication" class="materialize-textarea" length="5000"></textarea>-->
                    {{#textareaAutocomplete settings=settingsTextarea id="newPublication" class="materialize-textarea" autofocus="autofocus" length="5000"}}{{/textareaAutocomplete}}
                    <label id="post-label" for="newPublication" style="text-align: left !important;">{{_ "timeline.whatsup"}}</label>
                </div>
            </div>
            <div class="white-text post-action">
                <div class="images-pub">
                    {{> images_input_button_pub}}
                    <div class="images-status">
                    {{#if uploadingImages}}
                        {{{_ "images.uploading_progress" numImagesUploaded numImagesToUpload}}}
                    {{else}}
                        {{_ "images.selected"}}: {{images_selected}}
                    {{/if}}
                    </div>
                </div>
                <div id="pub-emoji-picker" class="animated fadeInUp">
                    {{#each emojis}}
                        <span data-id="{{_id}}" class="emoji-picker">{{{toHTML}}}</span>
                    {{/each}}
                </div>
                <div class="input-options">
                    <div id="pub-input-options" class="web-color-1">
                        <span class="waves-effect waves-light btn post" id="emoji-select-button" style="display: flex;align-items: center;">{{> emoji ':smile:'}}</span>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.post"}}<i class="material-icons right">mode_edit</i></button>
                </div>
            </div>
        </form>
    </div>
</template>