<template name="publication">

    <div class="card web-color-1">
        <div class="card-content text-color-3 publication-content">
            <div class="text-color-1 publication-header">
                <a>
                    <img src="/example.png" class="circle" height="auto" width="100%" style="max-width: 50px;max-height: 50px; vertical-align: middle;margin-right: 10px">
                </a>
                <div class="publication-header-center">
                    <a>{{owner.[0].username}}</a>
                    {{#if isMine}}
                        <div class="edit-publication">
                            <a id="edit-pub" href="#"><i class="fa fa-pencil-square fa-2" aria-hidden="true"></i></a>
                            <a id="remove-pub" href="#"><i class="fa fa-trash fa-2" aria-hidden="true"></i></a>
                        </div>
                        <div id="edit-pub-modal" class="modal">
                            <div class="card web-color-1 edit-pub-modal">
                                <form class="edit-post">
                                    <div class="post-header text-color-1">
                                        <span id="edit-post-error"></span>
                                        {{_ "timeline.edit-post"}}
                                    </div>
                                    <div class="white-text post-content">
                                        <div class="input-field col s12 post-input">
                                            <textarea id="editPublication" class="materialize-textarea" length="5000"></textarea>
                                            <label id="edit-post-label" for="editPublication" style="text-align: left !important;">{{_ "timeline.whatsup"}}</label>
                                        </div>
                                    </div>
                                    <div class="post-action">
                                        <div></div> <!-- TAGS -->
                                        <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.post"}}<i class="material-icons right">mode_edit</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="remove-pub-modal" class="modal">
                            <div class="card web-color-1 edit-pub-modal">
                                <form class="remove-post">
                                    <div class="post-header text-color-1">
                                        {{_ "timeline.remove-post"}}
                                        <button id="confirm-remove-pub" type="submit" class="waves-effect waves-light btn post" >{{_ "tag.remove"}}<i class="material-icons right">mode_edit</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {{/if}}
                </div>
                <span data-livestamp="{{createdAt}}"></span>
            </div>
            <div class="publication-description">
                <pre>{{description}}</pre>
            </div>
        </div>
        <div class="card-action text-color-1 publication-details">
            <div class="text-color-1">
                {{#if tagged_pretty}}
                    <i class="fa fa-tags fa-1" aria-hidden="true"></i>
                    {{_ "timeline.with"}} {{tagged_pretty}}
                {{else}}
                    <i class="fa fa-tags fa-1" aria-hidden="true"></i>
                    {{_ "timeline.no-tags"}}
                {{/if}}
            </div>
            <div class="text-color-1">
                {{#if iLike}}
                    <a id="i-like" href="#"><i class="fa fa-thumbs-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                    <a id="dislike" href="#"><i class="fa fa-thumbs-o-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                {{else}}
                    {{#if iDislike}}
                        <a id="like" href="#"><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                        <a id="i-dislike" href="#"><i class="fa fa-thumbs-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                    {{else}}
                        <a id="like" href="#"><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i></a> {{playersLike.length}}
                        <a id="dislike" href="#"><i class="fa fa-thumbs-o-down fa-1" aria-hidden="true"></i></a> {{playersDislike.length}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="card-action publication-comments">
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>
    </div>

</template>