<template name="timeline">

    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col s12 m4" style="">
                <div class="card web-color-1">
                    <div class="card-content white-text">
                        <!--<img src="fjv.png" class="circle" height="auto" width="100%" style="margin-right: auto;margin-left: auto;max-width: 150px;max-height: 150px; display: block">-->
                        {{>images_avatar max_size="150px" css="margin-left:auto;margin-right:auto;"}}
                        <div class="center-align" style="padding-top:15px">{{currentUser.username}}</div>
                    </div>
                </div>
                <div class="card web-color-1">
                    <div class="card-content white-text">
                    </div>
                </div>
            </div>
            <div class="col s12 m8" style="">
                <div class="card web-color-1">
                    <form class="confirm-post">
                        <div class="post-header text-color-1">
                            <span id="post-error"></span>
                            {{_ "timeline.new-post"}}
                        </div>
                        <div class="white-text post-content">
                                <div class="input-field col s12 post-input">
                                    <textarea id="newPublication" class="materialize-textarea" length="5000"></textarea>
                                    <label id="post-label" for="newPublication" style="text-align: left !important;">{{_ "timeline.whatsup"}}</label>
                                </div>
                        </div>
                        <div class="post-action">
                            <div></div> <!-- TAGS -->
                            <button type="submit" class="waves-effect waves-light btn post" >{{_ "tag.post"}}<i class="material-icons right">mode_edit</i></button>
                        </div>
                    </form>
                </div>
                {{#each publications}}
                    {{> publication}}
                {{/each}}
            </div>
        </div>
    </div>


</template>
