<template name="timeline">

    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col s12 m4" style="">
                <div class="card web-color-1">
                    <div class="card-content white-text">
                        <a href="{{ pathFor 'profile' username=currentUser.username }}">
                            {{>images_avatar user_id=currentUser._id max_size="150px" css="margin-left:auto;margin-right:auto;"}}
                        </a>
                        <div class="center-align" style="padding-top:15px">{{currentUser.username}}</div>
                    </div>
                </div>
                <div class="card web-color-1">
                    <div class="card-content white-text">
                    </div>
                </div>
            </div>
            <div class="col s12 m8" style="">
                {{> newPublication}}
                {{#each this}}
                    {{> publication}}
                {{/each}}
                {{#if moreResults}}
                    <button id="showMoreResults" type="button">Loading...</button>
                {{/if}}
            </div>
        </div>
    </div>


</template>
