<template name="img_preview">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <input type="file" accept=".jpg,.jpeg,.png" class="file_bag">
                <button class="upload">Upload</button>
            </div>
        </div>
        <div class="row">
            <ul>
            {{#each images}}
                <li class="img-li" >
                    <img class="img-elem"  id="img-{{_id}}" src="{{result}}" alt=" " />
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</template>