<template name="img_preview">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <input type="file" accept=".jpg,.jpeg,.png" class="file_bag">
                <button class="upload">Upload</button>
            </div>
        </div>
        <div class="row img-containers">
            <!--<div class="img-holder valign-wrapper" style="height: 100px; width: 100px; overflow: hidden;">
                <img id="preview" class="valign" src="#" alt=" " style="width: 100%;max-height:100%; max-width:100%;"/>
            </div> -->
            <div class="col s1">
                <img id="preview" class="responsive-img" src="#" alt=" "/>
            </div>
        </div>
    </div>
</template>