/** Registration */

.image-register{
    opacity: 0.3;
    position: fixed;
    z-index: -2;
    object-fit: cover;
}

/** Thanks registration */

.image-thanks-register{
    object-fit: cover;
    opacity: 0.2;
    position: fixed;
    z-index: -2;
    box-shadow: 15px 15px 15px 20px black;
}

/** Contact us */

.image-about_us{
    object-fit: cover;
    opacity: 0.1;
    position: fixed;
    z-index: -2;
}

/** Forgot password */

.image-forgot-password{
    object-fit: cover;
    opacity: 0.2;
    position: fixed;
    z-index: -2;
    box-shadow: 15px 15px 15px 20px black;
}