.header-contact-us{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 4.44444rem;
    margin-bottom: 18px;
    color: white;
    margin-top: 0px !important;
    padding-top: 35px;
}

.contact-us-button{
    height: 50px;
    width: 250px;
    background-color:#00C1C9;
    border-radius: 45px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
    position: absolute;
    margin-left: 27%;
}

#user-error, #email-error, #message-error{
    text-align: left;
    color: #e3157f !important;
    padding: 0 !important;
    font-size: 15px !important;
}

@media screen and (max-width: 800px){

    div .header-contact-us{
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 4.44444rem;
        text-align: center;
    }
    div #contact_us_button{
        margin-left: 15%;
    }
    div #message-label{
        text-align: left;
    }
    #contact_us_form textarea {
        width: 400px !important;
    }
    #contactUs-message, #contactUs-username, #contactUs-email{
        text-align: left !important;
    }
}

#contact_us_form{
    width: 100%
}

#contact_us_form input, textarea {
     color: #e1e1e1 !important;
 }

#contact_us_form textarea {
    overflow: auto;
    overflow-y: auto;
    resize: none;
    width: 500px;
    height: 30%;
}
#message{
    border-radius: 10px;
}

#username-label, #email-label, #message-label{
    font-size: 1.1rem !important;
    color: white !important;
}

#contactUs-message, #contactUs-username, #contactUs-email{
    text-align: right;
}