#title-following{
    color: white;
}

#following{
    color: white;
    background-color: #263238;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 5px 0 5px 0;
}

#followings{
    margin-top:50px;
}

.button-unfollow{
    background-color: #688826;
    white-space: normal !important;
}

.button-profile{
    background-color: #688826;
    white-space: normal !important;
}