.cardbg {
    background-size: cover;
    display: block;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

body{
	background: #171a21;
}