.cardbg {
    background-size: cover;
    display: block;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

body{
	background: #171a21;
}

#errors{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    background: #e3157f;
    border: 0;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    margin-bottom: 30px;
    padding: 5px;
    position:relative;
    display: inline-block;
    color: white;
}

#inputRegisterHome{
    padding:10px;
    background-color: rgba(44,50,63,.7);
    justify-content: center;
    width: 650px;
    margin: 0 auto;
}

#usernameHome{
    color:white;
}

#titleHome{
    margin-bottom: 100px;
    margin-top: -10%;
    font-family: proxima-nova,sans-serif;;
    text-shadow: 2px 2px 2px #000;
}