.cardbg {
    background-image: url("/home-background.png");
    background-size: cover;
    display: block;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}