.web-color-1 {
    background-color: #263238;
}

.text-color-1 {
    color: #9e9e9e;
}

/* Color para enlaces */
.text-color-2 {
    color: #7db3ce;
}

/* Color para texto de publicaciones */
.text-color-3 {
    color: #e1e1e1;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.customizedNavigation {
    background: rgba( 103, 193, 245, 0.2 );
    position: inherit !important;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

@media (max-width: 601px) {
    .header {
        text-align: center;
    }
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    border: 0;
    outline: 0;
}
.toast-error{
    background-color: #e3157f;
    color: #fafafa !important;
}

.logout {
    opacity: .75;
    min-width: 93px;
    border: 1px solid !important;
    border-color: #8c8f9e !important;
    border-radius: 2px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60%;
    cursor: pointer;
    display: inline;
}

 .browser-center {
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     position: absolute;
     display: inline-block;
}

 .border-top-1{
     margin-top: 10px;
     border-top: 1px solid rgba(160, 160, 160, 0.2);
 }

 .no-margin-bottom {
     margin-bottom: 0px !important;
 }