.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.customizedNavigation {
    background: rgba( 103, 193, 245, 0.2 );
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

@media (max-width: 601px) {
    .header {
        text-align: center;
    }
}



.faqs-question-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.faqs-question {
    font-weight: bold;

}

.faqs-question-icon {
    vertical-align: middle;
    cursor: pointer;
    font-size: 2.2rem !important;
}

.faqs-question-icon:hover {
    color: #b39ddb !important;
}

.faqs-question-text {
    vertical-align: middle;
}

.faqs-purple_line {
    background-color: #7e57c2;
    height: 2px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}

.faqs-answer {
    display: none;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    border: 0;
    outline: 0;
}