.navbar-fixed i{
    line-height: 56px !important;
}

.navbar-fixed nav {
    min-width: 300px;
}
.badge1 {
    position:relative;
}
.badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .7em;
    background: #ec5d48;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}
.-autocomplete-container {
    position: absolute;
    background: #384951 !important;
    border: 1px solid #5b757d !important;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 1000;
}

.-autocomplete-item {
    display: block;
    padding: 5px 10px;
    width: 100%;
    border-bottom: 1px solid #5b757d !important;
    cursor:pointer;
}