
.publication-content {
    margin: 0px !important;
}

.publication-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.publication-description {
    margin-top: 10px !important;
}

.publication-details{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
