.register-form{
    font-size: 16px;
    top: 15%;
}

.logbutton{
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 45px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
    margin-left: 50%;
}

#textarea1{
    color: white;
    font-family: proxima-nova,sans-serif;
}

#imagen_register{
    background-color:darkolivegreen;
    border-radius: 45px;
    color:white;
}

.div_form_more{
    display: none;
    visibility: hidden;
}

.logbutton:hover, #imagen_register:hover{
    color: white;
    background-color:darkolivegreen;
}
.logbutton:active, #imagen_register:active{
    color: white;
    background-color:darkolivegreen;
}

.register-form label{
    color: aliceblue;

}
.register-form input{
    margin-bottom: 5px;
    height: 40px;
    border-radius: 10px;
}

#email{
    color: #00C1C9;
    border-radius: 0px !important;
}

#intro_register{
    color: white;
    font-family: proxima-nova,sans-serif;
    font-size: 6rem;
}

#intro_register2{
    color: #D8D8D8 ;
    float: right;
    font-size:1.3rem;
    font-style: italic;
    font-family: proxima-nova,sans-serif;
}

#data_register{
    float:left;
}

#username-error, #confirmpassword-error, #email-error, #password_register-error{
    text-align: left;
    color: #e3157f !important;
}

#username-error{
    margin-top: 6%;
}

#email, #username, #password, #confirmpassword{
    color: white;
}

@media screen and (max-width: 800px) {
    div #intro_register{
        font-size: 3rem;
    }
    div #intro_register2{
        float: left;
    }
}