
.publication-content {
    margin: 0px !important;
}

.publication-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.publication-header-center {
    flex:1;
    display:flex;
}

.publication-description {
    margin-top: 10px !important;
    white-space: pre-wrap;
}

.publication-details{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.publication-comments{
    padding: 0px !important;
    border-top: 1px dashed rgba(160, 160, 160, 0.2) !important;
}

.card a{
    color: #9e9e9e !important;
    transition: none !important;
    text-transform: none !important;
}

.card a:hover{
    color: #7db3ce !important;
    cursor: pointer !important;
}

.edit-publication {
    margin-left: 10px;
}

.edit-publication a {
    margin-left: 5px;
}

#edit-pub:hover {
    color: #76ce88 !important;
    cursor: pointer !important;
}

#remove-pub:hover {
    color: #b1070c !important;
    cursor: pointer !important;
}

.edit-pub-modal {
    margin: 0px;
}

#edit-pub-modal {
    width: 40%;
    background-color: transparent !important;
    max-height: none !important;
}

@media screen and (max-width: 1024px){
    #edit-pub-modal {
        width: 65% !important;
    }
}

@media screen and (max-width: 425px){
    #edit-pub-modal {
        width: 80% !important;
    }
}

#remove-pub-modal {
    width: 40%;
    background-color: transparent !important;
    text-align: justify;
}

@media screen and (max-width: 1024px){
    #remove-pub-modal {
        width: 65% !important;
    }
}

@media screen and (max-width: 425px){
    #remove-pub-modal {
        width: 80% !important;
    }
}

#edit-post-error {
    color: #b1070c;
}

#confirm-remove-pub {
    margin-left: 20px;
}

#like, #dislike {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#like-c, #dislike-c {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#i-like, #i-dislike {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#i-like-c, #i-dislike-c {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#like:hover, #i-like {
    color: #00a2d3 !important;
}

#like-c:hover, #i-like-c {
    color: #00a2d3 !important;
}

#dislike:hover, #i-dislike {
    color: #b1070c !important;
}

#dislike-c:hover, #i-dislike-c {
    color: #b1070c !important;
}

.truncate-comments {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#editPublication {
    max-height: 400px !important;
    overflow-y: auto !important;
}