
.input-field label.active {
    font-size: 1rem;
    -webkit-transform: translateY(-142%) !important;
    transform: translateY(-142%) !important;
}

.post {
    background-color: transparent !important;
    font-weight: bold !important;
    border: 1px solid rgba(160, 160, 160, 0.2) !important;
}

.post:hover {
    color: #7db3ce !important;
    box-shadow: none !important;
}

.post-action {
    padding: 20px 30px 20px 30px;
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
}

.images-pub {
    display: flex;
    align-items: center;
}

.images-status {
    padding-left: 10px;
}

.post-header {
    padding: 10px 30px 10px 30px;
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
}

.post-content{
    padding: 0 20px 0 20px;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.post-input{
    margin-top: 0px !important;
    flex:1;
}

#post-error {
    color: #b1070c;
}

#newPublication {
    margin-bottom: 0px;
}