<template name="profileHeader">
    <div class="row">
        <div class="col s12 center-align">
            <div class="profile-resume">
                <div class="row">
                    <img src="/example.png" class="circle responsive-img img-profile">
                </div>
                <div class="row profile-username truncate">
                    {{username}}
                </div>
                <div class="row profile-numfriends">
                    <div class="col s4 profile-col-border">
                        {{_ "profile.followed" }} <span class="profile-num">{{followed_pretty}}</span>
                    </div>
                    <div class="col s4 profile-col-border">
                        {{_ "profile.followers" }} <span class="profile-num">{{followers_pretty}}</span>
                    </div>
                    <div class="col s4">
                        {{_ "profile.publications" }} <span class="profile-num">{{publications_pretty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            {{> profileViews }}
        </div>
    </div>
</template>