<template name="profileViews">
    <div class="profile-views">
        <div class="row">
            <div class="col s4 profile-view-col">
                <div class="profile-view-container {{#if isActiveRoute 'myImages'}}view-selected{{/if}}"  data-view="myImages">
                    <div class="row profile-view-icon">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <div class="row profile-view-text hide-on-small-only">
                        {{_ "profile.images" }}
                    </div>
                </div>
            </div>
            <div class="col s4 profile-view-col">
                <div class="profile-view-container {{#if isActiveRoute 'myProfile'}}view-selected{{/if}}" data-view="myProfile">
                    <div class="row profile-view-icon">
                        <i class="fa fa-align-left" aria-hidden="true"></i>
                    </div>
                    <div class="row profile-view-text hide-on-small-only">
                        {{_ "profile.publications" }}
                    </div>
                </div>
            </div>
            <div class="col s4 profile-view-col">
                <div class="profile-view-container {{#if isActiveRoute 'myInfo'}}view-selected{{/if}}" data-view="myInfo">
                    <div class="row profile-view-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="row profile-view-text hide-on-small-only">
                        {{_ "profile.info" }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>