<Template name="notification">
    <div id="notification-c-header">
        <div id="n-c-header-title">
            {{_ "notification.header" }}
        </div>
        <div id="n-c-header-options">
            <div style="flex: 1">
                <a href="#" style="color: black !important;">
                    <i class="fa fa-eye notification-all-watched-btn" aria-hidden="true" style="line-height: 12px !important;">
                    </i>
                </a>
            </div>
            <div style="flex: 1">
                <a href="#" style="color: black !important;">
                    <i class="fa fa-trash-o notification-all-trash-btn" aria-hidden="true" style="line-height: 12px !important;">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div id="notification-c-body">
        {{#each currentUser.notifications}}
            <a class="notification-row {{isNew}}" href="{{url}}">
                <div class="n-r-b" style="display: flex; flex-direction: row">
                    <div style="flex: 10;">
                        {{{_ descriptionKey username}}}
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column">
                        <div style="flex: 1;">
                            <i class="fa fa-eye notification-watched-btn" aria-hidden="true" style="line-height: 12px !important;"></i>
                        </div>
                        <div style="flex: 1;">
                            <i class="fa fa-trash-o notification-trash-btn" aria-hidden="true" style="line-height: 12px !important;"></i>
                        </div>
                    </div>
                </div>
                <div class="n-r-f">
                    <span class="livestamp" data-livestamp="{{createdAt}}"></span>
                </div>
            </a>
        {{/each}}
    </div>
</Template>