<template name="profileTimeline">
    <div class="container div-profile">
        {{> profileHeader}}
        <div class="row profile-content">
            <h1>Timeline</h1>
        </div>
    </div>
</template>

<template name="profileUser">
    <div class="container div-profile">
        {{> profileHeaderUser}}
        {{#if isPrivateButFollower}}
            <div class="row profile-content">
                <h1>Timeline</h1>
            </div>
        {{else}}
            {{#if isPrivate}}
            {{else}}
                <div class="row profile-content">
                    <h1>Timeline</h1>
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>