<template name="profileTimeline">
    <div class="container div-profile">
        {{> profileHeader}}
        <div class="row profile-content">
            <div class="col s12" style="">
                {{> newPublication}}
                {{#each publications}}
                    {{> publication}}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="profileTimelineUser">
    <div class="container div-profile">
        {{> profileHeaderUser}}
        {{#if canSee}}
            <div class="row profile-content">
                <h1>Timeline</h1>
            </div>
        {{/if}}
    </div>
</template>