<template name="profileTimelineUser">
    <div class="container div-profile">
        {{> profileHeaderUser}}
        {{#if canSee}}
            <div class="row profile-content">
                <div class="col s12" style="">
                    {{#if itsMe}}
                        {{> newPublication}}
                    {{/if}}
                    {{#each publications}}
                        {{> publication}}
                    {{/each}}
                    {{#if moreResults}}
                        <button id="showMoreResults" type="button">Loading...</button>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</template>