<template name="profilePhotos">
    <div class="container div-profile">
        {{> profileHeader}}
        <div class="row profile-content">
            <h1>Photos</h1>
            {{#with images}}
                {{> images_miniatures_container}}
            {{/with}}
        </div>
    </div>
</template>

<template name="profilePhotosUser">
    <div class="container div-profile">
        {{> profileHeaderUser}}
        <div class="row profile-content">
            <h1>Photos</h1>
            {{#with images}}
                {{> images_miniatures_container}}
            {{/with}}
        </div>
    </div>
</template>