<template name="change_password">
    <div class="container settings-container">
        <div class="row" style="border-radius: 5px; background-color:rgba( 0, 0, 0, 0.2 );
        padding: 10px 3px 10px 3px;">
            <div class="col s4 m4">
                <div>
                    <ul class="list_settings">
                        <li><a id="general" href="{{ pathFor 'settings' }}">{{_ "settings.general"}}</a></li>
                        <li><a id="privacity" href="{{ pathFor "privacity" }}">{{_ "settings.privacity"}}</a></li>
                        <li><a id="change_password" href="{{ pathFor "change-password" }}">{{_ "settings.password"}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s8 m8">
                <div class="content-change-pass" style="padding: 10px">
                    <h5>{{_ "change_password.title"}}</h5>
                    <p>{{_ "change_password.p1"}}</p>
                    <p>{{_ "change_password.p2"}}</p>
                    <form id="password_form" class="password_form" method="post">
                        <p>{{_ "change_password.p5"}}</p>
                        <input  id="password_current" name="password_current" class="form-control" type="password">
                        <p>{{_ "change_password.p3"}}<i id="show" class="small material-icons">visibility</i></p>
                        <input  id="password_changed" name="password_changed"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" type="password">
                        <p>{{_ "change_password.p4"}}</p>
                        <input id="confirmpassword_changed" name="confirmpassword_changed" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" type="password">
                        <br/>
                        <button type="submit" class="btn btn-default">{{_ "settings.save_changes"}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>