<template name="change_password">
    <div class="container settings-container">
        <div class="row" style="border-radius: 5px; background-color:rgba( 0, 0, 0, 0.2 );
        padding: 10px 3px 10px 3px;">
            <div class="col s4 m4">
                <div>
                    <ul class="list_settings">
                        <li><a id="general" href="/settings">{{_ "settings.general"}}</a></li>
                        <li><a id="privacity" href="/settings/privacity">{{_ "settings.privacity"}}</a></li>
                        <li><a id="change_password" href="/settings/change-password">{{_ "settings.password"}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s8 m8">
                <div class="content-change-pass">
                    Cambiar password
                </div>
            </div>
        </div>
    </div>
</template>