<template name="privacity">
    <div class="container settings-container">
        <div class="row" style="border-radius: 5px; background-color:rgba( 0, 0, 0, 0.2 );
        padding: 10px 3px 10px 3px;">
            <div class="col s4 m4">
                <div>
                    <ul class="list_settings">
                        <li><a id="general" href="/settings">General</a></li>
                        <li><a id="privacity" href="/settings/privacity">Privacity</a></li>
                        <li><a id="change_password" href="/settings/change-password">Change password</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s8 m8">
                <div class="content-privacity" style="padding: 10px">
                    <h5>Configuración y herramienta de privacidad</h5>
                    <p>En esta configuración te damos la opción a cambiar la privacidad de tu perfil en Nexlu.</p>
                    <p>Si eliges la opción de tener una cuenta privada los demás usuarios no podrán:</p>
                    <ul>
                        <li>- Seguirte: Hasta que no aceptes la solicitud del usuario que quiere seguirte, este
                            no podrán ver tus fotos y publicaciones</li>
                        <li>- No aparecerás en las búsquedas</li>
                    </ul>
                    <div class="switch">
                        <label>
                            Público
                            {{#if private}}
                                <input type="checkbox" checked>
                            {{else}}
                                <input type="checkbox">
                            {{/if}}
                            <span class="lever"></span>
                            Privado
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>