<template name="Settings">
    <div class="container settings-container">
        <div class="row" style="border-radius: 5px; background-color:rgba( 0, 0, 0, 0.2 );
        padding: 10px 3px 10px 3px;">
            <div class="col s4 m4">
                <div>
                    <ul class="list_settings">
                        <li><a id="general" href="/settings">{{_ "settings.general"}}</a></li>
                        <li><a id="privacity" href="/settings/privacity">{{_ "settings.privacity"}}</a></li>
                        <li><a id="change_password" href="/settings/change-password">{{_ "settings.password"}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s8 m8">
                <div class="content-general" style="padding: 10px">
                    <h5>{{_ "general.title"}}</h5>
                    <p>{{_ "general.p1"}}</p>
                    <p>{{_ "general.p2"}}</p>
                    <div>
                        <p>{{_ "general.p3"}}:</p>
                        <em>{{email_user}}</em>
                    </div>
                    <form id="email_form" class="email_form" method="post">
                        <p>{{_ "general.p4"}}</p>
                        <input  id="email" name="email" pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                                class="form-control" type="email" autocomplete="off"
                                style="color: black !important;">
                        <br/>
                        <button type="submit" class="btn btn-default">{{_ "settings.save_changes"}}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>