<template name="AboutUs">
    <div class="container" id="about-us-container">
        <div class="row">
            <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/ar.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div class="row">
                            <div class="member-header">
                                <div class="row member-name">
                                Alberto Rojas Fernández
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                <p>{{_ "about_us.ar"}}</p>
                            </div>
                        </div>
                        <div class="row member-social-links center-align">
                            <div class="col s4">    
                                <a href="https://www.linkedin.com/in/alberto-rojas-fern%C3%A1ndez-8304617b" target="_blank"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="https://github.com/AlbertFX91" target="_blank"><i class="fa fa-github-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="https://twitter.com/fndezfx" target="_blank"><i class="fa fa-twitter-square social-icon" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/cp.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div class="row">
                            <div class="member-header">
                                <div class="row member-name">
                                Cristian Poley González
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                <p>{{_ "about_us.cp"}}</p>
                            </div>
                        </div>
                        <div class="row member-social-links center-align">
                            <div class="col s4">    
                                <a href="#"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="#"><i class="fa fa-github-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="#"><i class="fa fa-twitter-square social-icon" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/fjv.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div class="row">
                            <div class="member-header">
                                <div class="row member-name">
                                    Francisco Javier Viejo Morales
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                {{_ "about_us.fjv"}}
                            </div>
                        </div>
                        <div class="row member-social-links center-align">
                            <div class="col s4">    
                                <a href="https://www.linkedin.com/in/francisco-javier-viejo-morales-201711122"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="https://github.com/FraVieMor"><i class="fa fa-github-square social-icon" aria-hidden="true"></i></a>
                            </div>
                            <div class="col s4">
                                <a href="https://twitter.com/franv17"><i class="fa fa-twitter-square social-icon" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>