<template name="AboutUs">
    <div class="container" id="about-us-container">
        <div class="row">
            <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/ar.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div>
                            <div class="member-header">
                                <div class="row member-name">
                                Alberto Rojas Fernández
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                <p>{{_ "about_us_ar"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/cp.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div>
                            <div class="member-header">
                                <div class="row member-name">
                                Cristian Poley González
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                <p>{{_ "about_us_cp"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col s12 m4 container member-container">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <div class="row">
                            <div class="image-container">
                                <img src="/fjv.png" class="circle responsive-img team-img"/>
                            </div>
                        </div>
                         <div>
                            <div class="member-header">
                                <div class="row member-name">
                                    Francisco Javier Viejo Morales
                                </div>
                                <div class="team-blue-line">
                                </div>
                                <div class="row member-role">
                                Developer
                                </div>
                            </div>
                            <div class="member-bio">
                                {{_ "about_us_fjv"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--
            <div class="row hoverable z-depth-1 team-row">
                <div class="col s12 m3">
                    <div class="image-container">
                        <img src="/ar.png" class="circle responsive-img team-img"/>
                    </div>
                </div>
                <div class="col s12 m9">
                    <div class="team-name-row">
                        <span class="team-name">Alberto Rojas</span><span class="team-role">Backend Dev</span>
                    </div>
                    <div class="team-purple_line">
                    </div>
                    <p>
                        {{_ "about_us_ar"}}
                    </p>
                </div>
            </div>

            <div class="row hoverable z-depth-1 team-row">
                <div class="col s12 m3">
                    <div class="image-container">
                        <img src="/cp.png" class="circle responsive-img team-img"/>
                    </div>
                </div>
                <div class="col s12 m9">
                    <div class="team-name-row">
                        <span class="team-name">Cristian Poley</span><span class="team-role">Frontend Dev</span>
                    </div>
                    <div class="team-purple_line">
                    </div>
                    <p>
                        {{_ "about_us_cp"}}
                    </p>
                </div>
            </div>

            <div class="row hoverable z-depth-1 team-row">
                <div class="col s12 m3">
                    <div class="image-container">
                        <img src="/fjv.png" class="circle responsive-img team-img"/>
                    </div>
                </div>
                <div class="col s12 m9">
                    <div class="team-name-row">
                        <span class="team-name">Francisco J. Viejo</span><span class="team-role">Developer</span>
                    </div>
                    <div class="team-purple_line">
                    </div>
                    <p>
                        {{_ "about_us_fjv"}}
                    </p>
                </div>
            </div>
        </div>
    </div>-->
        

</template>