<template name="background_register">
    <div>
        <img class="image-register" src="../backgrounds/background-register.png">
    </div>
    <div>
        <img class="image-mobile-register" src="../backgrounds/background-register-mobile.png">
    </div>
</template>

<template name="background_thanks_register">
    <div>
        <img class="image-register" src="../backgrounds/background-thanks-register.jpg">
    </div>
    <div>
        <img class="image-mobile-register" src="../backgrounds/background-thanks-register-mobile.jpg">
    </div>
</template>
