<template name="background_register">
    <div>
        <img width="100%" height="100%" class="cover image-register" src="../backgrounds/background-register.png">
    </div>
</template>

<template name="background_thanks_register">
    <div>
        <img width="100%" height="100%"  class="image-thanks-register" src="../backgrounds/background-thanks-register.jpg">
    </div>
</template>

<template name="background_about_us">
    <div>
        <img width="100%" height="100%" class="image-about_us" src="../backgrounds/background-contact_us.png">
    </div>
</template>
