<template name="Faq">


    <div class="container">
        <div id="faqs" class="section">
            <div class="row">
                <h4 class="header">{{_ "faq.header"}}</h4>
            </div>
            <div id="faqs-questions" class="section">
                 <div class="faqs-question-block row" id="wellworth">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons blue-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faq.question_one"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faq.answer_one"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                 <div class="faqs-question-block row" id="insure">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons blue-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faq.question_two"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faq.answer_two"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                <div class="faqs-question-block row" id="services">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons blue-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faq.question_three"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faq.answer_three"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>