<template name="followers">
    <div class="container">
        <h1 id="title-followers">{{_ "profile.followers"}}</h1>
        <div id="followers">
            {{#each searchFollowers}}
                <div id="follower" class="row s12 m12">
                    <div class="col s4 m4">
                        <a>
                            <img src="../example.png" class="circle" height="auto" width="60%" style="margin-right: auto;margin-left: auto;max-width: 110px;max-height: 110px; display: block">
                        </a>
                    </div>
                    <div class="col s2 m2" style="margin-top: 40px; text-align:center">
                        {{username}}
                    </div>
                    <div class="col s4 m3" style="margin-top: 40px; text-align:left">
                        {{bio}}
                    </div>
                    <div class="col s2 m2" style="margin-top: 20px;">
                        <div class="row">
                            <button class="col s6 m12 btn btn-success button-profile"><i class="material-icons left">person_pin</i><span>{{_ "tag.profile"}}</span></button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="followersUser">
    <div class="container">
        <h1 id="title-followers">{{_ "profile.followers"}}</h1>
        <div id="followers">
            {{#each searchFollowersUser}}
                <div id="follower" class="row s12 m12">
                    <div class="col s4 m4">
                        <a>
                            <img src="../example.png" class="circle" height="auto" width="60%" style="margin-right: auto;margin-left: auto;max-width: 110px;max-height: 110px; display: block">
                        </a>
                    </div>
                    <div class="col s2 m2" style="margin-top: 40px; text-align:center">
                        {{username}}
                    </div>
                    <div class="col s4 m3" style="margin-top: 40px; text-align:left">
                        {{bio}}
                    </div>
                    <div class="col s2 m2" style="margin-top: 20px;">
                        <div class="row">
                            <button class="col s6 m12 btn btn-success button-profile"><i class="material-icons left">person_pin</i><span>{{_ "tag.profile"}}</span></button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>