<template name="follow_users_list">
    <div class="container">
        <h1 id="title-following">{{_ "tag.following"}}</h1>
        <div id="followings">
            {{#each users}}
                <div id="following" class="following-row">
                    <div class="row">
                            <div class="col s6 m3" style="flex: 1;">
                                <a href="{{ pathFor 'profile' username=username }}">
                                    {{> images_avatar user_id=_id max_size="110px" css="margin-left: auto; margin-right: auto;"}}
                                </a>
                            </div>
                            <div  class="col s4 m2" style="margin-top: 30px; flex: 1;">
                                <span  data-username="{{username}}">{{username}}</span>
                            </div>
                            <div class="col s4 m3" style="margin-top: 30px; flex: 2;">
                                {{bio}}
                            </div>

                            <div  class="col s6 m2" style="margin-top: 20px;flex: 1;">
                                <div>
                                    <button class="col s12 m12 btn btn-success button-profile"><i class="material-icons left">person_pin</i><span>{{_ "tag.profile"}}</span></button>
                                </div>
                            </div>
                            {{#if canFollowUnfollow}}
                                <div class="col s6 m2" style="margin-top: 25px;flex: 1;">
                                    {{#if isFollowed}}
                                        <a id="unfollowUser" style="margin:0 !important;" class="bold caret text-shadow smaller-font" >
                                            {{_ "profile.followed"}}
                                        </a>
                                    {{else}}
                                        {{#if hasRequestCreated}}
                                            <span class="bold caret text-shadow smaller-font grey darken-3 white-text" style="padding: 5px 4px;border-radius: 3px;">
                                            <i class="material-icons">schedule</i><span>{{_ "profile.inprocess" }}</span>
                                            </span>
                                        {{else}}
                                            <a id="followUser" class="bold caret text-shadow smaller-font" >
                                                {{_ "profile.follow"}}
                                            </a>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>