<template name="pageFooter">
    <footer class="customizedFooter">
        <div class="container">
            <div class="row">
                <div class="col s4 center-align">
                    <h4 class="flow-text">LOGO</h4>
                    <ul class="">
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text">{{_ "tag.company"}}</h4>
                    <ul class="">
                        <li><a href="{{pathFor 'AboutUs'}}">{{_ "tag.about_us"}}</a></li>
                        <li><a href="#">{{_ "tag.services"}}</a></li>
                        <li><a href="#">{{_ "tag.prices"}}</a></li>
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text">{{_ "tag.legal"}}</h4>
                    <ul class="collection-item">
                        <li><a href="#">{{_ "tag.privacy"}}</a></li>
                        <li><a href="#">{{_ "tag.terms"}}</a></li>
                    </ul>
                </div>
                <div class="center-align" style="margin-top: 1%; margin-bottom: 1%; clear: both">
                    <p>
                        &copy; 2016 Nexlu, Inc. &middot; <a href="”mailto:infonexlu@gmail.com">{{_ "tag.contact"}}</a> &middot; <a href="#">{{_ "tag.private"}}</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>

<template name="pageFooterLogged">
    <footer class="customizedFooter">
        <div class="container">
            <div class="row">
                <div class="col s4 center-align">
                    <h4 class="flow-text">LOGO</h4>
                    <ul class="">
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text">{{_ "tag.company"}}</h4>
                    <ul class="">
                        <li><a href="{{pathFor 'AboutUs'}}">{{_ "tag.about_us"}}</a></li>
                        <li><a href="#">{{_ "tag.services"}}</a></li>
                        <li><a href="#">{{_ "tag.prices"}}</a></li>
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text">{{_ "tag.legal"}}</h4>
                    <ul class="collection-item">
                        <li><a href="#">{{_ "tag.privacy"}}</a></li>
                        <li><a href="#">{{_ "tag.terms"}}</a></li>
                    </ul>
                </div>
                <div class="center-align" style="margin-top: 1%; margin-bottom: 1%; clear: both">
                    <p>
                        &copy; 2016 Nexlu, Inc. &middot; <a href="”mailto:infonexlu@gmail.com">{{_ "tag.contact"}}</a> &middot; <a href="#">{{_ "tag.private"}}</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>