<template name="pageFooter">
    <footer class="customizedFooter">
        <div class="container">

            <div class="row hide-on-small-and-down footer-flex">

                <div class="col s4 center-align">
                    <ul class="collection-item">
                        <li>
                            <a><img src="example.png" class="circle" height="auto" width="100%" style="margin-right: auto;margin-left: auto;max-width: 120px;max-height: 120px; display: block"></a>
                        </li>
                    </ul>
                </div>

                <div class="col s4 center-align">
                    <h4 class="flow-text" style="margin: 1rem 0 0 0">{{_ "tag.company"}}</h4>
                    <ul class="company-box">
                        <li><a href="{{pathFor 'AboutUs'}}">{{_ "tag.about_us"}}</a></li>
                        <li><a href="#">{{_ "tag.faq"}}</a></li>
                        <li><a href="{{pathFor 'ContactUs'}}">{{_ "tag.contactUs"}}</a></li>
                        <li><a href="{{pathFor 'terms'}}">{{_ "tag.terms"}}</a></li>
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <ul class="collection-item">
                        <li>
                            <a href="#" class="icon icon-mono facebook">facebook</a>
                            <a href="#" class="icon icon-mono twitter">twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="center-align border-top-1 footer-bottom">
                    <p>
                        &copy; 2016 Nexlu, Inc. &middot; <a href="”mailto:infonexlu@gmail.com">{{_ "tag.contact"}}</a>
                    </p>
                </div>

            </div>

            <div class="row hide-on-med-and-up footer">

                <div class="col s12 center-align">
                    <h4 class="flow-text" style="margin: 1rem 0 0 0">{{_ "tag.company"}}</h4>
                    <ul class="company-box">
                        <li><a href="{{pathFor 'AboutUs'}}">{{_ "tag.about_us"}}</a></li>
                        <li><a href="#">{{_ "tag.faq"}}</a></li>
                        <li><a href="{{pathFor 'ContactUs'}}">{{_ "tag.contactUs"}}</a></li>
                        <li><a href="{{pathFor 'terms'}}">{{_ "tag.terms"}}</a></li>
                    </ul>
                </div>
                <div class="col s12 center-align">
                    <ul class="collection-item">
                        <li>
                            <a href="#" class="icon icon-mono facebook">facebook</a>
                            <a href="#" class="icon icon-mono twitter">twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="center-align border-top-1" style="clear: both">
                    <p>
                        &copy; 2016 Nexlu, Inc. &middot; <a href="”mailto:infonexlu@gmail.com">{{_ "tag.contact"}}</a>
                    </p>
                </div>

            </div>
        </div>
    </footer>
</template>

<template name="pageFooterLogged">
    <footer class="customizedFooter">
        <div class="container">
            <div class="row no-margin-bottom">
                <div class="col s6 center-align">

                    <ul class="">
                        <li>
                            <h4 class="flow-text" style="font-weight: bold; display: inline-block; margin:0">Nexlu</h4><span style="color: white"> &middot; </span>
                            <a href="{{pathFor 'AboutUs'}}">{{_ "tag.about_us"}}</a><span style="color: white"> &middot; </span>
                            <a href="{{pathFor 'ContactUs'}}" style="margin-bottom: 1em; margin-top: 1em">{{_ "tag.contactUs"}}</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="padding: 5px"></i></a>
                            <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="padding: 5px"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col s6 center-align">
                    <ul class="" style="display: inline-block">
                        <li>
                            <a href="#">{{_ "tag.terms"}}</a><span style="color: white"> &middot; </span>
                            <a href="#">{{_ "tag.faq"}}</a><span style="color: white"> &middot; </span>
                            <a href="#">{{_ "tag.contactUs"}}</a><span style="color: white"> &middot; </span>
                            <a href="#">{{_ "tag.prices"}}</a>
                        </li>
                        <li class="border-top-1">
                            <p style="margin-top: 8px !important;">
                                &copy; 2016 Nexlu, Inc.
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</template>