<template name="forgot_password">
    <div>
        {{> background_forgot_password }}

        <div  id="text-forgot-password" class="container" style="color:white">
            <div class="col s12 m12">
                <div class="row">
                    <div class="col s12 m12 row forgot-password">
                        <h1 class="header-forgot-password">{{_ "forgot.title"}}</h1>
                    </div>
                </div>
                <div class="row thanks-register_body">
                    <div class="col s12 m12">
                        <p>{{_ "forgot.text"}}</p>
                        <form id="email_forgot" class="email_forgot" method="post">
                            <div class="col m4 s12" style="margin-left:-12px;">
                                <input id="email_reset" name="email_reset" pattern="^[_A-Za-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$" type="text" autocomplete="off">
                            </div>
                            <div class="row continue">
                                <div class="col m12 s12">
                                    <button id="email_forgot" class="btn btn-default">{{_ "forgot.send-password"}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>