<template name="langSelector">
    <i class="material-icons white-text dropdown-button" data-activates='languages' style="cursor:pointer;">language</i>

    <ul id='languages' class='dropdown-content'>
        <li class="waves-effect"><a data-lang="en" class="changes-lang"><img data-lang="en" class="changes-lang"
                                                                             src="/English.png" width="50%"
                                                                             height="50%"></a></li>
        <li class="waves-effect"><a data-lang="es" class="changes-lang"><img data-lang="es" class="changes-lang"
                                                                             src="/Spanish.png"
                                                                             width="50%" height="50%"></a></li>
    </ul>
</template>