<Template name="login">
	<form id="login-form" >
		<div class="row">
			<div class="col s11">
				<div class="row">
					<div class="col m4 s4" >
						<label for="login">User:</label>
					</div>
					<div class="col m8 s8">
						<input id="username" name="username" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col m4 s4">
						<label for="password">Password:</label>
					</div>
					<div class="col m8 s8">
						<input id="password" name="password" type="password">
					</div>
				</div>
			</div>
			<div class="col s1 valign-wrapper hide-on-small-only" id="col-buttom">
				<div id="div-buttom">
					<button type="submit" id="login-buttom">
						<i class="material-icons" id="login-icon">videogame_asset</i>
					</button>
				</div>
				<div id="mask"></div>
			</div>
		</div>
		<div class="hide-on-med-and-up" style="margin-top:-50px;">
			<div id="div-buttom-low">
				<button type="submit" id="login-buttom">
					<i class="material-icons" id="login-icon">videogame_asset</i>
				</button>
			</div>
		</div>
	</form>
</Template>