<template name="menu">

    <div class="navbar-fixed">
        <nav class="web-color-1" role="navigation">
            <div class="nav-wrapper container">

                <a class="center brand-logo">
                    <element class="hide-on-med-and-down" id="text-logo-ne">NE</element>
                    <a href="/"><img class="boton-logo-nav circle" src="../logo-justified.png" height="auto" width="100%"
                                      style="height: 50px; width: 50px"></a>
                    <element class="hide-on-med-and-down" id="text-logo-lu">LU</element>
                </a>

                <a href="/" data-activates="mobile" class="button-collapse" style="margin-left:20px;"><i
                        class="mdi-navigation-menu white-text" style="font-size:2.2em;"></i></a>

                <ul class="left hide-on-med-and-down">

                </ul>

                <!-- Panel de navegación lateral desplegado en dispositivos móviles -->
                <ul class="side-nav" id="mobile">
                    <li><a href="{{ pathFor 'AboutUs' }}">{{_ "tag.about_us"}}</a></li>
                    <li><a href="/register">{{_ "register"}}</a></li>
                </ul>
                <!-- -->
                <ul id="nav-mobile" class="right">
                    <li>
                        <ul id="usermenu-link" class="right" style="margin-right: 5%; cursor: pointer;">
                            <li>
                                <ul id="showLoginModal">
                                    <div class="hide-on-med-and-down">
                                        <a class="bold caret text-shadow smaller-font"
                                           style="display: inline;padding: 6px 10px 6px 10px; border: 1px solid white; border-radius: 4px;">
                                            {{_ "login"}}
                                        </a>
                                    </div>
                                    <div class="hide-on-large-only">
                                        <a>
                                            <i class="small material-icons">games</i>
                                        </a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>{{> langSelector}}</li>
                </ul>
            </div>
        </nav>
    </div>

</template>

<template name="menuLogged">

    <div class="navbar-fixed">
        <nav class="web-color-1" role="navigation" >
            <div class="nav-wrapper container">

                <a href="/" data-activates="mobile" class="button-collapse">
                    {{#if currentUser}}
                        {{> images_avatar user_id=currentUser._id max_size="50px" css="margin-top:6px;"}}
                    {{else}}
                        <i class="mdi-navigation-menu white-text" style="font-size:2.2em;"></i>
                    {{/if}}
                </a>

                <ul class="left">
                    <li class="hide-on-med-and-down"><a href="/" style="height: 65px;padding:10%"><img src="../logo-justified.png" class="circle" width="100%" style="height: 65px; max-width: 50px; max-height: 50px"></a></li>
                    <!--<li class="hide-on-med-and-up" style="padding-left: 10px;"><i class="search_modal fa fa-search fa-2x" aria-hidden="true"></i></li>-->
                </ul>
                <div id="modal_search" class="modal">
                    <div class="card web-color-1">
                        <h4>{{_ "search_user"}}</h4>
                        {{> foo class="materialize-textarea" autofocus="autofocus" length="5000" }}
                    </div>
                </div>
                <!-- TODO: Implementar buscador en diseño normal y responsive-->

                <ul>
                    <div class="browser-center">
                        {{> foo class="materialize-textarea" autofocus="autofocus" length="5000" }}
                    </div>
                </ul>

                <!-- Panel de navegación lateral desplegado en dispositivos móviles -->
                <ul class="side-nav" id="mobile">
                    <li><a href="{{ pathFor 'home'}}">{{_ "tag.timeline"}}</a></li>
                    <li><a href="{{ pathFor 'profile' username=currentUser.username }}">{{_ "profile.my_profile"}}</a></li>
                    <li><a href="{{ pathFor 'settings' }}">{{_ "settings.settings"}}</a></li>
                    <li><a href="{{ pathFor 'requests-follow' }}">{{_ "settings.requests-follow"}}&nbsp;
                        {{#if hasRequests}}
                            <span class="red white-text" style="padding: 3px; border-radius: 2px;">{{numRequests}}</span>
                        {{/if}}</a></li>
                    <li>
                        <a href="{{ pathFor 'logout'}}">{{_ "logout"}}</a>
                    </li>
                </ul>
                <!-- -->
                <ul id="nav-mobile" class="right">
                    <li>
                        <div id="badge-button">
                            {{#if hasNotifications}}
                                <a href="" class="badge1" data-badge="{{numNotifications}}">
                                    <i class="small material-icons">add_alert</i>
                                </a>
                                <div id="div1" style="right: {{div1RightCSS}};">

                                </div>
                            {{else}}
                                <a href="" class="badge1">
                                    <i class="small material-icons">add_alert</i>
                                </a>
                                <div id="div1" style="right: {{div1RightCSS}};">

                                </div>
                            {{/if}}
                        </div>
                    </li>
                    <li style="height: 64px;"><a href="#" class="dropdown-button hide-on-med-and-down" data-activates="dropdown-profile" style="height: 100%;padding:10%">
                        <!-- <img src="/fjv.png" class="circle" height="auto" width="100%" style=";max-width: 50px;max-height: 50px; vertical-align: middle">-->
                        {{> images_avatar user_id=currentUser._id max_size="50px" css=""}}
                    </a></li>

                    <ul id='dropdown-profile' class='dropdown-content web-color-1 hide-on-med-and-down'>
                        <li><a href="{{ pathFor 'profile' username=currentUser.username }}">{{_ "profile.my_profile"}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathFor 'settings' }}">{{_ "settings.settings"}}</a></li>
                        <li class="divider"></li>
                        <li><a id="requests_follow" href="{{ pathFor "requests-follow" }}">{{_ "settings.requests-follow"}}&nbsp;
                            {{#if hasRequests}}
                                <span class="red white-text" style="padding: 3px; border-radius: 2px;">{{numRequests}}</span>
                            {{/if}}</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ pathFor 'logout'}}">{{_ "logout"}}</a>
                        </li>
                    </ul>

                    <!--<li class="hide-on-med-and-down"><a class="bold caret text-shadow smaller-font" href="/logout"
                                                        style="display: inline;padding: 6px 10px 6px 10px; border: 1px solid white;
                                                        border-radius: 4px;">

                    </a></li>
                    <li class="hide-on-large-only"><a href="/logout"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a></li>-->
                    <li>{{> langSelector}}</li>
                </ul>

            </div>
        </nav>
        <div id="notif-container">
            {{> notification}}
        </div>
    </div>
    <div id="remove-all-notif-modal" class="modal">
        <div class="card web-color-1 edit-pub-modal">
            <form class="remove-all-notif">
                <div class="post-header text-color-1">
                    {{_ "notification.remove-all-notifications"}}
                    <button id="confirm-remove-all-notif" type="submit" class="waves-effect waves-light btn post" >{{_ "tag.remove"}}<i class="material-icons right">mode_edit</i></button>
                </div>
            </form>
        </div>
    </div>
</template>