<template name="publication">

    <div class="card web-color-1">
        <div class="card-content white-text">
            <ul class="publication-content">
                <li class="publication-header">
                    <img src="fjv.png" class="circle" height="auto" width="100%" style=";max-width: 50px;max-height: 50px; vertical-align: middle">
                    {{owner_username}}
                </li>
                <li class="publication-description">
                    {{description}}
                </li>
            </ul>
        </div>
        <div class="card-action" style="">



        </div>
    </div>

</template>