<template name="register">
    <div>
        {{> background_register }}
        <div id="container-register" class="container">
            <form id="register_form" class="register-form" method="post">
                <div id="data_register" class="row">
                    <h1 id="intro_register" class="s12">"{{_ "register_header"}}"</h1>
                    <h5 id="intro_register2">{{_ "register_header2"}}</h5>
                    <div class="col s12">
                        <div class="row">
                            <div class="col m4 s12" >
                                <label for="username">{{_ "username"}}:</label>
                            </div>
                            <div class="input-field col m8 s12">
                                <input name="username" id="username" class="form-control" type="text" autocomplete="off" maxlength="15">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12" >
                                <label for="email">{{_ "email.email"}}:</label>
                            </div>
                            <div class="col m8 s12">
                                <input  id="email" name="email" class="form-control" type="email" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12" >
                                <label for="password_register">{{_ "password"}}:</label>
                            </div>
                            <div class="col m8 s12">
                                <input name="password_register"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password_register" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12" >
                                <label for="confirmpassword">{{_ "confirm_password"}}:</label>
                            </div>
                            <div class="col m8 s12">
                                <input name="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="confirmpassword" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col m12 s12">
                        </div>
                    </div>
                    <div class="row continue">
                        <div class="col m12 s12">
                            <button type="submit" id="register-buttom" class="finish btn btn-default logbutton">{{_ "finish"}}</button>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </form>
        </div>
    </div>
</template>