<template name="terms">
    <div id="terms-main">
        <div class="col s12 container terms-container">
            <div class="card blue-grey lighten-5 ">
                <div class="card-content">
                    <div class="row terms_row">
                        <h4 class="header">{{_ "terms.terms_header"}}</h4>
                    </div>
                    <div class="row terms_row">
                        <h6>{{_ "terms.terms1"}}</h6>
                        <p>{{_ "terms.terms11"}}</p>
                        <p>{{_ "terms.terms12"}}</p>
                        <p>{{_ "terms.terms13"}}</p>
                        <p>{{_ "terms.terms14"}}</p>
                        <p>{{_ "terms.terms15"}}</p>
                        <h6>{{_ "terms.terms2"}}</h6>
                        <p>{{_ "terms.terms21"}}</p>
                        <p>{{_ "terms.terms22"}}</p>
                        <p>{{_ "terms.terms23"}}</p>
                        <h6>{{_ "terms.terms24"}}</h6>
                        <p>{{_ "terms.terms241"}}</p>
                        <h6>{{_ "terms.terms25"}}</h6>
                        <p>{{_ "terms.terms26"}}</p>
                        <h6>{{_ "terms.terms3"}}</h6>
                        <h6>{{_ "terms.terms31"}}</h6>
                        <p>{{_ "terms.terms32"}}</p>
                        <h6>{{_ "terms.terms33"}}</h6>
                        <p>{{_ "terms.terms34"}}</p>
                        <h6>{{_ "terms.terms35"}}</h6>
                        <p>{{_ "terms.terms36"}}</p>
                        <h6>{{_ "terms.terms37"}}</h6>
                        <p>{{_ "terms.terms38"}}</p>
                        <p> ... </p>
                        <p>{{_ "terms.termsFinal"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>