<template name="terms">
    <div id="terms-main">
        <div id="terms-container" class="container section">
            <div class="row terms_row">
                <h4 class="header">{{_ "terms_header"}}</h4>
            </div>
            <div class="row terms_row">
                <h6>{{_ "terms1"}}</h6>
                <p>{{_ "terms11"}}</p>
                <p>{{_ "terms12"}}</p>
                <p>{{_ "terms13"}}</p>
                <p>{{_ "terms14"}}</p>
                <p>{{_ "terms15"}}</p>
                <h6>{{_ "terms2"}}</h6>
                <p>{{_ "terms21"}}</p>
                <p>{{_ "terms22"}}</p>
                <p>{{_ "terms23"}}</p>
                <h6>{{_ "terms24"}}</h6>
                <p>{{_ "terms241"}}</p>
                <h6>{{_ "terms25"}}</h6>
                <p>{{_ "terms26"}}</p>
                <h6>{{_ "terms3"}}</h6>
                <h6>{{_ "terms31"}}</h6>
                <p>{{_ "terms32"}}</p>
                <h6>{{_ "terms33"}}</h6>
                <p>{{_ "terms34"}}</p>
                <h6>{{_ "terms35"}}</h6>
                <p>{{_ "terms36"}}</p>
                <h6>{{_ "terms37"}}</h6>
                <p>{{_ "terms38"}}</p>
                <p> ... </p>
                <p>{{_ "termsFinal"}}</p>
            </div>
        </div>
    </div>
</template>