<template name="timeline">

    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col s4" style="">

                <div class="card web-color-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

            <div class="col s8" style="">

                <div class="card web-color-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</template>