<template name="timeline">

    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col s12 m4" style="">

                <div class="card web-color-1">
                    <div class="card-content white-text">
                        <a href="/me">
                            <img src="../example.png" class="circle" height="auto" width="100%" style="margin-right: auto;margin-left: auto;max-width: 150px;max-height: 150px; display: block">
                        </a>
                        <div class="center-align" style="padding-top:15px">FRAVIEMOR</div>
                    </div>
                </div>

                <div class="card web-color-1">
                    <div class="card-content white-text">

                    </div>
                </div>

            </div>

            <div class="col s12 m8" style="">

                <div class="card web-color-1">
                    <div class="card-content white-text">

                        <div class="input-field col s12">
                            <textarea id="newPublication" class="materialize-textarea"></textarea>
                            <label for="newPublication" style="text-align: left !important;">What's up?</label>
                        </div>

                    </div>
                    <div class="card-action" style="text-align: right !important;">
                        <a href="#" class="post" >Post</a>
                    </div>
                </div>

                {{#each publications}}
                    {{> publication}}
                {{/each}}



            </div>


        </div>
    </div>


</template>