<template name="home">

    <div class="cardbg"></div>
    <div class="container" style="margin-top: 10%">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="white-text" style="text-shadow: 2px 2px 2px #000;">{{_ "home.intro"}}</h3>
				{{#if currentUser }}
					<a class="btn btn-large" href="{{pathFor 'logout'}}">{{_ "logout"}}</a>
                {{else}}
                    <a class="btn btn-large" id="showLoginModal">
                        {{_ "login"}}
                    </a>
				{{/if}}
            </div>
        </div>
    </div>


</template>