<template name="images_input_modal">
    <div id="input-images-modal" class="modal">
        <div class="modal-header blue-grey lighten-4 valign-wrapper">
            <span class="close-modal-button"><i class="fa fa-times" aria-hidden="true"></i></span>
            <h5 class="modal-header-title valign">{{_ "images.upload-photos"}}</h5>
        </div>
        <div class="modal-body">
            {{#if editing}}
                {{> images_preview_edit }}
            {{else}}
                {{#if noImages}}
                    {{> images_modal_no_images}}
                {{else}}
                    <div class="modal-images">
                        <div class="img-preview-container row">
                            {{#each images}}
                                {{> images_show_preview }}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}

        </div>
        <div class="modal-img-footer valign-wrapper">
            {{#if editing}}
                <div style="margin-left:0;margin-right:auto;">
                    <a class="waves-effect waves-light btn valign" id="button-exit-edit"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                </div>

                <div style="margin-left:auto;margin-right:0;">
                    {{#if canSave}}
                        <a class="waves-effect waves-light btn valign" id="button-save-img-edit"><i class="material-icons">done</i> </a>
                    {{/if}}
                </div>

            {{else}}
                <label class="label-hidden-footer" for="image-upload">
                    <a class="waves-effect waves-light btn valign" id="button-add-img"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <input type="file" id="image-upload" accept=".jpg,.jpeg,.png" style="display:none" multiple>
                </label>
                <a class="waves-effect waves-light btn light-blue lighten-2 {{#unless cantSaveS3}}disabled{{/unless}}" id="button-save-images"> <i class="fa fa-cloud-upload" aria-hidden="true"></i></a>

            {{/if}}
        </div>
    </div>

</template>

<template name="images_modal_no_images">
    <div class="modal-no-images">
        <div class="images-modal-upload-img-row">
            <div class="images-modal-upload-img-button">
                <label class="label-hidden" for="image-upload">
                    <div class="images-modal-upload-img-i">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <div class="images-modal-upload-img-text">
                        Upload
                    </div>
                    <input type="file" id="image-upload" accept=".jpg,.jpeg,.png" style="display:none" multiple>
                </label>
            </div>
        </div>
    </div>
</template>

<template name="images_show_preview">
    <div class="img-preview-element col animated bounceIn">
        <div class="img-preview-options">
            <span class="img-preview-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="img-preview-edit valign-wrapper">
                <i class="fa fa-pencil valign img-preview-edit-icon" aria-hidden="true"></i>
            </div>
        </div>
        <div id="img-prev-{{_id}}" class="img-preview animated bounceIn" style="background-image: url('{{img_data}}');"></div>
    </div>
</template>

