<template name="images_input_modal">
    <div id="input-images-modal" class="modal">
        <div class="modal-header blue-grey lighten-5 valign-wrapper">
            <span class="close-modal-button"><i class="fa fa-times" aria-hidden="true"></i></span>
            <h5 class="modal-header-title valign">Upload photo</h5>
        </div>
        <div class="modal-body">
            {{#if noImages}}
                <div class="modal-no-images">
                    <div class="images-modal-upload-img-row">
                        <div class="images-modal-upload-img-button">
                            <label class="label-hidden" for="image-upload">
                                <div class="images-modal-upload-img-i">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                </div>
                                <div class="images-modal-upload-img-text">
                                    Upload
                                </div>
                                <input type="file" id="image-upload" accept=".jpg,.jpeg,.png" style="display:none">
                            </label>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="modal-images">
                    <div class="container">
                        <div class="row">
                        {{#each images}}
                            <div class="col s12 m1 white" style="padding:0;margin:2px;">
                                <img id="{{_id}}" class="img-prev {{#if uploaded}}img-uploaded{{else}}img-ready{{/if}}" src="{{result}}" style="width:100%;height:100px" data-id="{{_id}}" />
                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

</template>