<template name="images_preview_edit">
    <div class="modal-images-edit">
        <div class="img-options blue-grey lighten-5" style="width: 20%;height:100%;float:right;">

        </div>
        <div class="img-container valign-wrapper" style="width: 80%;height:100%">
            <div class="img-container-center valign" style="width:100%;text-align:center">
                <img id="img-edit-{{img._id}}" src="{{img.result}}" data-id="{{img._id}}" />
            </div>
        </div>

    </div>
</template>