<template name="thanks_register">

    {{> background_thanks_register }}

    <div class="container">
        <div class="col s11">
            <div class="row thanks-register">
                <h4 class="header-thanks-register"><p>{{_ "thanks-register"}}</p></h4>
            </div>
            <div class="row thanks-register_body">
                <div class="col s12 m6">
                    <p>{{_ "thanks-register_body"}}</p>
                </div>
                <div class="col s12 m6">
                    <img src="../backgrounds/thanks-register.png">
                </div>
            </div>
        </div>
    </div>
</template>